set timeout=5

menuentry "Instalar Ubuntu Server Auto (Post-Install Desktop)" {
    set gfxpayload=keep
    linux /ubuntu/casper/vmlinuz ip=dhcp cloud-config-url=http://172.16.100.101/configs/user-data autoinstall ds=nocloud-net\;s=http://172.16.100.101/configs/ ---
    initrd /ubuntu/casper/initrd
}
